@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@shopify/polaris-tokens/css/styles.css';
*, ::after, ::before {
    box-sizing: border-box;
}
/* global custome style */
.link-main {
    text-decoration: none;
}
.link-main:hover {
    background-color: var(--p-color-bg-surface-hover);
}
.link-main:focus {
    background-color: var(--p-color-bg-surface-active);
}

.Polaris-Icon {
  margin: 4px;
}
.border-bottom {
    border-bottom: 1px solid var(--p-color-border);
}
.flex-between-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.items-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}                                                                               