/* .Polaris-Modal-Dialog__Container, .Polaris-Modal-Dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.Polaris-Modal-Dialog__Modal {
    min-height: 620px;
    min-width: 630px;
} */
